<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441623703980-kl4ltak21cunonc3g8hbaiiv0q0v13vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441623703980-kl4ltak21cunonc3g8hbaiiv0q0v13vi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>441623703980-3q0ts8desccp3j5rj9svc6gdj0s1a9ka.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwnbyZ_Mc2s2U5L12uE-eWY13KAs4IzDM</string>
	<key>GCM_SENDER_ID</key>
	<string>441623703980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dilmurodqurbonov.coffeapp</string>
	<key>PROJECT_ID</key>
	<string>cofeapp-bab3d</string>
	<key>STORAGE_BUCKET</key>
	<string>cofeapp-bab3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441623703980:ios:e10a8fd4f227a95dda0a09</string>
</dict>
</plist>